[Unit]
Description=Kubernetes Kubelet Server
After=containerd.service
Requires=containerd.service

[Service]
EnvironmentFile=-/etc/default/kubernetes
ExecStart=/usr/bin/kubelet --config=/etc/kubernetes/kubelet.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///run/docker/libcontainerd/docker-containerd.sock \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  $KUBELET_OPTIONS
KillMode=process

[Install]
WantedBy=multi-user.target
