[Unit]
Description=Container Network Interface
After=torcx.target
Conflicts=umount.target
Requires=torcx.target
RequiresMountsFor=/opt

[Mount]
What=/run/torcx/unpack/kube-node/opt/cni
Where=/opt/cni
Type=none
Options=bind
